html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#myButton {
    margin-top: 50px;
}
#myDiv {
    background-color: slategray;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 100%;
    max-height: auto;
}

@media screen and (max-width: 412px) {
    #myButton {
        margin-top: 10px;
    }
    #myDiv {
        width: 100vw;
        height: auto;
    }
}